body {
  min-width: 600px;
  margin: 20px;
}

body * {
  box-sizing: border-box;
}

#log  {
  width: 100%;
  border: 1px solid #ccc;
  display: none;
}

#enable-disable, #close {
  float: right;
}

#actions-table header *,
#actions-table .actions .action * {
  display: inline-block;
  width: 32%;
  padding: 5px 3px;
  vertical-align: top;
}
#actions-table .actions .action:nth-child(even) {
  background-color: #eee;
}

#actions-table header * {
  background-color: #ccc;
  color: #fff;
  text-align: center;
}

#actions-table footer {
  text-align: center;
}

#actions-table footer #hidden-link-for-export {
  display: none;
}